In [188]:
import pandas as pd
import numpy as np




#5 A
df = pd.read_csv('https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=000&K%C3%98N=TOT&ALDER=IALT&CIVILSTAND=F&Tid=2008K4%2C2020K4', sep=';')



df_pct= df['INDHOLD'].pct_change().mul(100)

print(df)

print(df_pct)

        OMRÅDE    KØN  ALDER CIVILSTAND     TID  INDHOLD
0  Hele landet  I alt  I alt   Fraskilt  2008K4   432156
1  Hele landet  I alt  I alt   Fraskilt  2020K4   552419
0          NaN
1    27.828608
Name: INDHOLD, dtype: float64

In [189]:
#5 B 

df = pd.read_csv('https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=*&K%C3%98N=TOT&ALDER=IALT&CIVILSTAND=U&Tid=2020K4', sep=';')

searchfor = ['Region', 'Hele landet']

totals = df[df["OMRÅDE"].str.contains('|'.join(searchfor)) == False]

totals['percentage'] = totals['INDHOLD']/totals['INDHOLD'].sum()*100




biggest_cities = ["København", "Odense", "Aarhus", "Aalborg", "Esbjerg"]

t = totals[df['OMRÅDE'].isin(biggest_cities)].copy(deep=False)



t

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

        OMRÅDE    KØN  ALDER CIVILSTAND     TID  INDHOLD  percentage
2    København  I alt  I alt      Ugift  2020K4   417782   14.612279
58      Odense  I alt  I alt      Ugift  2020K4   113639    3.974620
62     Esbjerg  I alt  I alt      Ugift  2020K4    55161    1.929303
84      Aarhus  I alt  I alt      Ugift  2020K4   211863    7.410088
104    Aalborg  I alt  I alt      Ugift  2020K4   120226    4.205006

In [ ]:
#5 c

In [57]:
#5 D 
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt

df = pd.read_csv('https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=000&K%C3%98N=TOT&ALDER=*&CIVILSTAND=U%2CG&Tid=2020K4', sep=';')

ages = pd.DataFrame(df["ALDER"])
status = pd.DataFrame(df["CIVILSTAND"])

status
#df = pd.concat([ages,status],axis=1)

#df

plt.title("", fontsize=12)
plt.xlabel("Ages", fontsize=10)
plt.ylabel("Amount", fontsize=10)
plt.tick_params(axis='both', which='major', labelsize=10)

TypeError: can only concatenate str (not "int") to str